{{define "title"}} Siddharth Roy {{end}} {{define "main"}}
<p>
  A guy who writes <span class="italic">software</span> during work hours and
  makes <span class="italic">games</span> and
  <italic class="italic">sketches</italic> during free time. Go have a look
  around my websites; there is some cool stuff here.
</p>

<p>
  Tell me something about your favourite place on
  <a href="https://globechat.live" target="_blank">globechat.live</a>
</p>

<h2 class="h3">All projects</h2>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Link</td>
    </tr>
  </thead>
  <tbody>
    {{range .Page.Projects}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Description}}</td>
      <td><a href="{{.Link}}" target="_blank">Link</a></td>
    </tr>
    {{end}}
  </tbody>
</table>

<h2 class="h3">Socials</h2>

<ul>
  <li><a href="https://twitter.com/cyberchad" target="_blank">Twitter</a></li>
  <li>
    <a href="https://www.instagram.com/cybrchad/" target="_blank">Instagram</a>
  </li>
  <li>
    <a href="https://github.com/siddharthroy12" target="_blank">Github</a>
  </li>
</ul>

{{end}}
