{{define "title"}} Posts {{end}} {{define "main"}} {{ if .IsAdmin }}
<a class="btn btn-fill" href="/create-post">Create Post</a>
{{ end }}

<article class="content-container">
  <section>
    <h2>Posts</h2>
    <ul class="posts">
      {{ range .Page.Posts }}
      <li>
        <div>
          <a href="/post/{{ .Slug }}"
            >{{ .Title }}{{ if .IsDraft }} [draft] {{ end }}</a
          >
          {{ if $.IsAdmin }}
          <div class="list-actions">
            <a href="/edit-post/{{.Slug}}">Edit</a> |
            <a onclick="deletePost('/post/{{.Slug}}')">Delete</a>
          </div>
          {{ end }}
        </div>
      </li>
      {{ end }}
    </ul>
  </section>
</article>

{{end}}
