{{define "title"}} Sketches {{end}} {{define "main"}}
<div class="image-grid">
  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F501122577_17961609896945206_7887604221023594010_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>
  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F504597992_17962682645945206_8908587214336595812_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>

  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F501122577_17961609896945206_7887604221023594010_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>
  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F501122577_17961609896945206_7887604221023594010_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>
  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F501122577_17961609896945206_7887604221023594010_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>
  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F501122577_17961609896945206_7887604221023594010_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>
  <div class="grid-item">
    <img
      src="https://siddharthroy.com/_next/image?url=%2Fcontent%2Fsketches%2F501122577_17961609896945206_7887604221023594010_n.%20copy.webp&w=3840&q=75"
      alt="Nature landscape"
    />
  </div>
</div>

{{end}}
