{{ define "description" }}{{ end }} {{define "base"}}
<!DOCTYPE html>
<html
  lang="en-us"
  dir="ltr"
  class="{{ if .IsDark }} dark-mode-on {{else}} dark-mode-off {{ end }}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- META -->

    <meta name="description" content='{{ template "description" . }}' />
    <meta name="author" content="Siddharth Roy" />
    <meta name="robots" content="index, follow" />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://accounts.google.com/gsi/client"
      defer
      async
      onload="initGoogle()"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      let PUBLIC_GOOGLE_CLIENT_ID = "{{ .GoogleClientId }}";
    </script>
    <title>{{template "title" .}}</title>
  </head>
  <body>
    <header>
      <div>
        <h1>
          <a href="/">siddharth roy</a>
        </h1>
        <div class="header-controls">
          <div class="toggle-switch visible">
            <input
              type="checkbox"
              id="darkModeToggle"
              class="toggle-input visible"
              aria-label="Toggle dark mode"
              onclick="toggleTheme()"
              {{
              if
              .IsDark
              }}
              checked
              {{
              end
              }}
            />
            <label for="darkModeToggle" class="toggle-label">
              <span class="toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>
      {{ template "nav" .}}
    </header>
    {{ template "flash" .}}
    <main class="content-wrapper">{{ template "main" .}}</main>
    {{ template "footer" .}}
    <!-- Scripts -->
    <script src="/static/js/main.js" type="text/javascript"></script>
    <script src="/static/js/darkmode.js" type="text/javascript"></script>
    <script src="/static/js/googlelogin.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
