{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - Snippetbox</title>
  </head>
  <body class="theme-light container">
    <header class="header">
      <img src="/static/img/owl.webp" class="owl" width="150px" alt="owl" />
      <h1 class="header-name">Siddharth Roy</h1>
      {{ template "nav" .}}
    </header>
    <main>{{ template "main" .}}</main>
    <!-- And include the JavaScript file -->
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
