{{ define "description" }}{{ end }} {{define "base"}}
<!DOCTYPE html>
<html
  lang="en-us"
  dir="ltr"
  class="{{ if .IsDark }} dark-mode-on {{else}} dark-mode-off {{ end }}"
>
  <head>
    <link rel="dns-prefetch" href="//accounts.google.com" />
    <link rel="preload" href="/static/img/favicon.ico" as="image" />

    <meta charset="UTF-8" />
    <!-- META -->

    <meta name="description" content='{{ template "description" . }}' />
    <meta name="author" content="Siddharth Roy" />
    <meta name="robots" content="index, follow" />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      let PUBLIC_GOOGLE_CLIENT_ID = "{{ .GoogleClientId }}";
      function googleLogin(callback) {
        //@ts-ignore
        if (!window.googlelogincallbacks) {
          //@ts-ignore
          window.googlelogincallbacks = [];
          //@ts-ignore
        }

        if (callback) {
          //@ts-ignore
          window.googlelogincallbacks.push(callback);
        }

        const buttonWrapper = document.createElement("div");
        buttonWrapper.id = "google-login-button-wrapper";

        buttonWrapper.style.display = "none";
        document.body.appendChild(buttonWrapper);
        // @ts-ignore
        google.accounts.id.renderButton(buttonWrapper, {
          theme: "outline",
          size: "large",
          click_listener: (e) => {
            console.log(e);
          },
        });
        // @ts-ignore
        document
          .querySelector('#google-login-button-wrapper div[role="button"]')
          // @ts-ignore
          .click();
        document.body.removeChild(buttonWrapper);
      }

      function initGoogle() {
        google.accounts.id.initialize({
          client_id: PUBLIC_GOOGLE_CLIENT_ID,
          callback: (e) => {
            const token = e.credential;

            fetch("/login", {
              method: "POST",
              body: JSON.stringify({ token }),
            }).then(() => {
              window.location.reload();
            });
          },
        });
      }
    </script>
    <title>{{template "title" .}}</title>
  </head>
  <body>
    <header>
      <div>
        <h1>
          <a href="/">siddharth roy</a>
        </h1>
        <div class="header-controls">
          <div class="toggle-switch visible">
            <input
              type="checkbox"
              id="darkModeToggle"
              class="toggle-input visible"
              aria-label="Toggle dark mode"
              onclick="toggleTheme()"
              {{
              if
              .IsDark
              }}
              checked
              {{
              end
              }}
            />
            <label for="darkModeToggle" class="toggle-label">
              <span class="toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>
      {{ template "nav" .}}
    </header>
    {{ template "flash" .}}
    <main class="content-wrapper">{{ template "main" .}}</main>
    {{ template "footer" .}}
    <!-- Scripts -->
    <!-- Move scripts to bottom and add defer/async -->
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/darkmode.js" defer></script>
    <script
      src="https://accounts.google.com/gsi/client"
      async
      onload="initGoogle()"
    ></script>
  </body>
</html>
{{end}}
