{{ define "image-upload" }} {{ if .IsAdmin }}
<div class="card">
  <form
    action="/{{ .Page.Folder }}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="images">Upload Pictures</label>
      <input type="file" id="images" name="images" multiple accept="image/*" />
      <input
        type="text"
        name="folder"
        value="{{ .Page.Folder }}"
        class="hidden"
      />
    </div>
    <button>Submit</button>
  </form>
</div>
{{ end}} {{end}}
